{% extends 'admin/layouts/_base.html.twig' %}

{% block title %}
    Product Details - {{ product.name }}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-copy"></i>
                            Product Details: {{ product.name }}
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-4">Name: </dt>
                            <dd class="col-sm-8">{{ product.name }}</dd>
                            <dt class="col-sm-4">Description:</dt>
                            <dd class="col-sm-8">{{ product.description ? product.description : '(not set)' }}</dd>
                            <dt class="col-sm-4">Price: </dt>
                            <dd class="col-sm-8">{{ '£' ~ product.price|number_format }}</dd>
                            <dt class="col-sm-4">Category: </dt>
                            <dd class="col-sm-8">{{ product.category.name }}</dd>
                            <br>
                            <dt class="col-sm-4">Actions: </dt>
                            <dd class="col-sm-8">
                                <a class="btn btn-primary text-white"
                                   href="{{ path('admin.products.edit', { id: product.id }) }}">
                                    Edit Product Details
                                    {{ '  ' }} <span class="fa fa-edit"></span>
                                </a>
                                <br> &nbsp;
                                <form method="post" action="{{ path('admin.products.delete', { id: product.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_form_token" value="{{ csrf_token('delete_product-' ~ product.id) }}">
                                    <button class="btn btn-danger text-white">Delete Product {{ '  ' }} <span class="fa fa-trash"></span></button>
                                </form>
                                {#<a class="btn btn-danger text-white"
                                   href="{{ path('app.admin.courses.delete', { id: course.id }) }}">
                                    Delete Course
                                    {{ '  ' }} <span class="fa fa-trash"></span>
                                </a>#}
                            </dd>
                            <br>
                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

        </div>
    </div>

    <!-- Chapters content -->
    <section class="content">
        <div class="container-fluid">

            {# Course Chapters #}
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">List: Products</h3>

                        <a class="btn btn-primary float-right text-white"
                           href="{{ path('admin.products.add_image_to_product', { productId: product.id }) }}">
                            Add Image
                            {{ '  ' }} <span class="fa fa-plus"></span>
                        </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Name</th>
                                <th>Action(s)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set indexer = 1 %}
                            {% for mediaFile in mediaFiles %}
                                <tr>
                                    <td>{{ indexer ~ '.' }}</td>
                                    <td>{{ mediaFile.name }}</td>
                                    <td>
                                        {% if indexer == 1 %}
                                            <p>{{ '(can not be deleted)' }}</p>
                                        {% else %}
                                            <a class="btn btn-danger btn-sm" href="{{ path('admin.products.remove_image_from_product', { productId: product.id, id: mediaFile.id }) }}">
                                                <i class="fas fa-folder">
                                                </i>
                                                Delete
                                            </a>
                                        {% endif %}
                                    </td>
                                    {% set indexer = indexer + 1 %}
                                </tr>
                            {% else %}

                                <div align="center" class="align-content-center">
                                    <p> You have added any image files yet...
                                        <span class="fa fa-sad-tear"></span>
                                    </p>
                                </div>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.card -->
            </div>

        </div>
    </section>

{% endblock %}
