{% extends 'storefront/layouts/_session.html.twig' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="block text-center">
                    <a class="logo" href="{{ path('app.home.index') }}">
                        <img src="{{ asset('storefront/images/logo.png') }}" alt="">
                    </a>
                    <h2 class="text-center">Welcome Back</h2>
                    {% include 'admin/partials/shared/header/_alerts.html.twig' %}
                    <form class="text-left clearfix" action="{{ path('app.session.login') }}" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email"
                                name="email" id="email"
                            />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password"
                                name="password" id="password"
                            />
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('user_authenticate') }}"
                        >
                        <div class="text-center">
                            <button type="submit" class="btn btn-main text-center" >Login</button>
                        </div>
                    </form>
                    <p class="mt-20">New in this site ?<a href="{{ path('app.session.register') }}"> Create New Account</a></p>
{#                    <p><a href="{{ path('app.session.forgot-password') }}"> Forgot your password?</a></p>#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}