{% extends 'storefront/layouts/_base.html.twig' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block content %}

    <section class="products section bg-gray">
        <div class="container">
            {% include 'admin/partials/shared/header/_alerts.html.twig' %}
            <div class="row">
                <div class="title text-center">
                    <h2>Trendy Groceries</h2>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-thumb">
                            <img class="img-responsive" src="{{ mediaPath ~ product.thumbnailImage }}" alt="{{ product.name }}" />
                            <div class="preview-meta">
                                <ul>
                                    <li>
									<span  data-toggle="modal" data-target="#product-modal-{{ product.id }}">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
                                    </li>
                                    {#<li>
                                        <a href="#!" ><i class="tf-ion-ios-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#!"><i class="tf-ion-android-cart"></i></a>
                                    </li>#}
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <h4><a href="{{ path('app.products.details', { slug: product.slug }) }}">{{ product.name }}</a></h4>
                            <p class="price">£{{ product.price|number_format }}</p>
                        </div>
                    </div>
                </div>

                    <!-- Modal -->
                    <div class="modal product-modal fade" id="product-modal-{{ product.id }}">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="tf-ion-close"></i>
                        </button>
                        <div class="modal-dialog " role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-6 col-xs-12">
                                            <div class="modal-image">
                                                <img class="img-responsive" src="{{ mediaPath ~ product.thumbnailImage }}" alt="{{ product.name }}" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="product-short-details">
                                                <h2 class="product-title">{{ product.name }}</h2>
                                                <p class="product-price">£{{ product.price|number_format }}</p>
                                                <p class="product-short-description">
                                                    {{ product.description }}
                                                </p>
                                                <a href="{{ path('app.products.details', { slug: product.slug }) }}" class="btn btn-transparent">View Product Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.modal -->
                {% endfor %}


            </div>
        </div>
    </section>


{% endblock %}