{% extends 'storefront/layouts/_base.html.twig' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block content %}

    <section class="single-product">
        <div class="container">
            {% include 'admin/partials/shared/header/_alerts.html.twig' %}
            <div class="row">
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('app.home.index') }}">Home</a></li>
                        <li class="active">{{ product.name }}</li>
                    </ol>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5">
                    <div class="single-product-slider">
                        <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                            <div class='carousel-outer'>
                                <!-- me art lab slider -->
                                <div class='carousel-inner '>
                                    {% set indexer = 1 %}
                                    {% for mediaFile in mediaFiles %}
                                    <div class='item {{ indexer == 1 ? 'active' : '' }}'>
                                        <img src="{{ mediaPath ~ mediaFile.imageName }}" alt='{{ mediaFile.name }}'
                                             data-zoom-image="{{ mediaPath ~ mediaFile.imageName }}" />
                                    </div>
                                    {% endfor %}
                                </div>

                                <!-- sag sol -->
                                {#<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                                    <i class="tf-ion-ios-arrow-left"></i>
                                </a>
                                <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                                    <i class="tf-ion-ios-arrow-right"></i>
                                </a>#}
                            </div>

                           {# <!-- thumb -->
                            <ol class='carousel-indicators mCustomScrollbar meartlab'>
                                {% set indexer = 0 %}
                                {% for mediaFile in mediaFiles %}
                                    {% set imgIndex = indexer - 1 %}
                                    <li data-target='#carousel-custom' data-slide-to='{{ indexer }}' class='{{ indexer == 1 ? 'active' : '' }}'>
                                        <img src="{{ mediaPath ~ mediaFile.imageName }}" alt='{{ mediaFile.name }}' />
                                    </li>
                                {% endfor %}
                            </ol>#}
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="single-product-details">
                        <h2>{{ product.name }}</h2>
                        <p class="product-price">£{{ product.price|number_format }}</p>

                        <p class="product-description mt-20">
                            {{ product.description }}
                        </p>
                        <div class="product-category">
                            <span>Category:</span>
                            <ul>
                                <li><a href="{{ path('app.categories.details', { slug: product.category.slug }) }}">{{ product.category.name }}</a></li>
                            </ul>
                        </div>
                        {{ component('add_to_cart_widget', { product: product, quantity: 1 }) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ component('featured_products', { categoryId: product.category.id, productId: product.id }) }}

    <!-- Modal -->
    <div class="modal product-modal fade" id="product-modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="tf-ion-close"></i>
        </button>
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="modal-image">
                                <img class="img-responsive" src="images/shop/products/modal-product.jpg" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-short-details">
                                <h2 class="product-title">GM Pendant, Basalt Grey</h2>
                                <p class="product-price">$200</p>
                                <p class="product-short-description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo laborum numquam rem aut officia dicta cumque.
                                </p>
                                <a href="#!" class="btn btn-main">Add To Cart</a>
                                <a href="#!" class="btn btn-transparent">View Product Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}