{% extends 'admin/layouts/_base.html.twig' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-copy"></i>
                            Review of the Customer: {{ customer.name }}
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-6">Customer ID: </dt>
                            <dd class="col-sm-6">{{ customer.token }}</dd>
                            <dt class="col-sm-6">Full Name:</dt>
                            <dd class="col-sm-6">{{ customer.name }}</dd>
                            <dt class="col-sm-6">Customer Email:</dt>
                            <dd class="col-sm-6">{{ customer.email }}</dd>
                            <dt class="col-sm-6">Total Orders:</dt>
                            <dd class="col-sm-6">{{ customer.orders|length }}</dd>
                            <dt class="col-sm-6">Date Registered:</dt>
                            <dd class="col-sm-6">{{ customer.createdAt|date('Y-m-d H:i:s') }}</dd>
                            <br/>
                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

        </div>
    </div>

    <!-- Orders content -->
    <section class="content">
        <div class="container-fluid">

            {# Course Categories #}
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Latest Orders</h3>

                        {#<a class="btn btn-primary float-right text-white"
                           href="{{ path('app.sales.invoices.new') }}">
                            New Receipt
                            {{ '  ' }} <span class="fa fa-edit"></span>
                        </a>#}
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>ID</th>
                                <th>Date/Time Created</th>
                                <th>Number of Products</th>
                                <th>Total Cost</th>
                                <th style="width: 40px">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set indexer = 1 %}
                            {% for entry in customer.orders %}
                                <tr>
                                    <td>{{ indexer ~ '.' }}</td>
                                    <td>{{ entry.token }}</td>
                                    <td>{{ entry.createdAt|date('Y-m-d H:i:s') }}</td>
                                    <td>{{ entry.orderItems|length }}</td>
                                    <td>{{ '£' ~ (entry.totalPrice|number_format) }}</td>
                                    <td>
                                        <a class="btn border-dark " href="{{ path('admin.orders.details', { token: entry.token }) }}">
                                            <span class="badge bg-primary">Details</span>
                                            <span class="fa fa-eye"></span>
                                        </a>

                                    </td>
                                    {% set indexer = indexer + 1 %}
                                </tr>
                            {% else %}

                                <div align="center" class="align-content-center">
                                    <p> This customer has no recent orders...
                                        <span class="fa fa-sad-tear"></span>
                                    </p>
                                </div>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.card -->
            </div>

        </div>
    </section>

{% endblock %}