{# Base Layout #}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %} | SpeaKommerce</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="SpeaKommerce E-Commerce">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="SpeaKommerce">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('storefront/images/favicon.png') }}" />

    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="{{ asset('storefront/plugins/themefisher-font/style.css') }}">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{{ asset('storefront/plugins/bootstrap/css/bootstrap.min.css') }}">

    <!-- Animate css -->
    <link rel="stylesheet" href="{{ asset('storefront/plugins/animate/animate.css') }}">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="{{ asset('storefront/plugins/slick/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('storefront/plugins/slick/slick-theme.css') }}">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{ asset('storefront/css/style.css') }}">

</head>

<body id="body">

{% include 'storefront/partials/_header_top.html.twig' %}

{% include 'storefront/partials/_header_bottom.html.twig' %}

    {% block content %}

    {% endblock %}

{% include 'storefront/partials/_footer.html.twig' %}

<!--
Essential Scripts
=====================================-->

<!-- Main jQuery -->
<script src="{{ asset('storefront/plugins/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap 3.1 -->
<script src="{{ asset('storefront/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- Bootstrap Touchpin -->
<script src="{{ asset('storefront/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js') }}"></script>
<!-- Instagram Feed Js -->
<script src="{{ asset('storefront/plugins/instafeed/instafeed.min.js') }}"></script>
<!-- Video Lightbox Plugin -->
<script src="{{ asset('storefront/plugins/ekko-lightbox/dist/ekko-lightbox.min.js') }}"></script>
<!-- Count Down Js -->
<script src="{{ asset('storefront/plugins/syo-timer/build/jquery.syotimer.min.js') }}"></script>

<!-- slick Carousel -->
<script src="{{ asset('storefront/plugins/slick/slick.min.js') }}"></script>
<script src="{{ asset('storefront/plugins/slick/slick-animation.min.js') }}"></script>

<!-- Main Js File -->
<script src="{{ asset('storefront/js/script.js') }}"></script>



</body>
</html>