{# 'cart_widget #}
{% set mediaPath = '/media/images/products/' %}

<li class="dropdown cart-nav dropdown-slide" {{ attributes }} data-poll="delay(5000)|$render">
    <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i
                class="tf-ion-android-cart"></i>Cart</a>
    <div class="dropdown-menu cart-dropdown">
        <!-- Cart Item -->
        {% for cartItem in cartItems %}
        <div class="media">
            <a class="pull-left" href="#!">
                <img class="media-object" src="{{ mediaPath ~ cartItem.product.thumbnailImage }}" alt="{{ cartItem.product.name }}" />
            </a>
            <div class="media-body">
                <h4 class="media-heading"><a href="#!">{{ cartItem.product.name }}</a></h4>
                <div class="cart-price">
                    <span>{{ cartItem.quantity }} x</span>
                    <span>{{ cartItem.subTotal }}</span>
                </div>
                <h5><strong>£{{ cartItem.product.price|number_format }}</strong></h5>
            </div>
            <a href="#!" class="remove"><i class="tf-ion-close"></i></a>
        </div><!-- / Cart Item -->
        {% else %}
            <div class="media-body">
                <h4 class="media-heading"><a href="#!">{{ 'Your cart is empty!' }}</a></h4>
            </div>
        {% endfor %}

        <div class="cart-summary">
            <span>Total</span>
            <span class="total-price">£{{ totalPrice|number_format }}</span>
        </div>
        <ul class="text-center cart-buttons">
            <li><a href="{{ path('app.cart.index') }}" class="btn btn-small">View Cart</a></li>
            <li><a href="{{ path('app.cart.checkout') }}" class="btn btn-small btn-solid-border">Checkout</a></li>
        </ul>
    </div>

</li><!-- / Cart -->